absl-py==2.3.0
addict==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
antlr4-python3-runtime==4.9.3
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
backcall
beautifulsoup4
black==25.1.0
bleach
Brotli
certifi
cffi
cfgv==3.4.0
charset-normalizer
chumpy==0.70
click==8.1.8
cloudpickle==3.1.1
colorama
comm
contourpy==1.3.0
crcmod==1.7
cryptography==45.0.3
cycler==0.12.1
Cython==3.1.1
debugpy
decorator
defusedxml
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@65184fc057d4fab080a98564f6b60fae0b94edc4
distlib==0.3.9
exceptiongroup
executing
fastjsonschema
filelock==3.14.0
flake8==7.2.0
flake8-bugbear==24.12.12
flake8-comprehensions==3.16.0
fonttools==4.58.1
fsspec==2024.6.1
fvcore
gdown
grpcio==1.72.1
gsplat @ git+https://github.com/nerfstudio-project/gsplat.git@0b4dddf04cb687367602c01196913cde6a743d70
h11
httpcore
httpx
hydra-core==1.3.2
identify==2.6.12
idna
imageio==2.37.0
importlib_metadata
importlib_resources==6.5.2
iniconfig==2.1.0
iopath==0.1.9
ipykernel
ipython
ipywidgets
isort==6.0.1
jaxtyping==0.2.36
jedi
Jinja2==3.1.4
jmespath==0.10.0
json-tricks==3.17.3
json5
jsonschema
jsonschema-specifications
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver==1.4.7
lazy_loader==0.4
libcst==1.8.0
lightning-utilities==0.14.3
lpips==0.1.4
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.4
matplotlib-inline
mccabe==0.7.0
mdurl==0.1.2
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
mmcv==2.1.0
mmdet==3.2.0
mmengine==0.10.7
mmpose==1.3.2
model-index==0.1.11
moreorless==0.5.0
mpmath==1.3.0
munkres==1.1.4
mypy==1.16.0
mypy_extensions==1.1.0
narwhals==1.41.0
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.2.1
ninja==1.11.1.4
nodeenv==1.9.1
notebook
notebook_shim
numpy==1.26.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
omegaconf==2.3.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
ordered-set==4.1.0
oss2==2.17.0
overrides
packaging
pandas==2.2.3
pandocfilters
parso
pathspec==0.12.1
pexpect
pickleshare
pillow==11.0.0
platformdirs
plotly==6.1.2
pluggy==1.6.0
portalocker
pre_commit==4.2.0
prometheus_client
prompt-toolkit
protobuf==6.31.1
psutil
ptyprocess==0.7.0
pure-eval
pycocotools==2.0.9
pycodestyle==2.13.0
pycolmap==3.11.1
pycparser
pycryptodome==3.23.0
pyflakes==3.3.2
Pygments
pyparsing==3.2.3
PyQt6==6.7.1
PyQt6_sip
PySocks
pytest==8.4.0
python-dateutil
python-json-logger
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@fc08621879e57ae17f9663fd1d3775bcea41e3e2
pytz==2023.4
PyYAML==6.0.2
pyzmq
qtconsole
QtPy
referencing
requests==2.28.2
rfc3339-validator
rfc3986-validator
rich==13.4.2
rpds-py
ruff==0.11.12
scikit-image==0.24.0
scipy==1.13.1
Send2Trash
shapely==2.0.7
sip
six
smplx==0.1.28
sniffio
soupsieve
stack-data
stdlibs==2025.5.10
sympy==1.13.3
tabulate
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor
terminado
terminaltables==3.1.10
tifffile==2024.8.30
tinycss2
toml==0.10.2
tomli
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchmetrics==1.7.2
torchvision==0.19.0+cu118
tornado
tqdm==4.65.2
trailrunner==1.4.0
traitlets
triton==3.0.0
typing_extensions
tzdata==2025.2
urllib3==1.26.20
usort==1.0.8.post1
virtualenv==20.31.2
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.1.3
widgetsnbextension
xtcocotools==1.14.3
yacs
yapf==0.43.0
zipp
